@using System.Activities.Expressions
@model Cars.Web.Models.IndexViewModel
@{
    ViewBag.Title = "Index";
}

<div class="row items-container">
    <h3><span> Намери твоя мечтан автомобил</span></h3>

    <div class="col col-md-6" style="padding-top: 50px">
        <img src="/Content/Images/auto-comic.jpg" class="" />
    </div>

    <div class="col col-md-6" style="padding-top: 100px">
        @using (Html.BeginForm("SearchResult", "Cars", FormMethod.Get))
        { 
            <div class="row col-md-offset-1">
                <div class="form-horizontal">
                    <div class="row">
                        @Html.Label("Shipper","Вносител")
                        @Html.DropDownListFor(m => m.Shippers, new SelectList(ViewBag.Shippers, "Id", "Name"),
                            "Всички вносители", new { @class = "form-control"})
                    </div><br />

                    <div class="row">
                        @Html.Label("Description","Описание")
                        @Html.TextBoxFor(m => m.Description, new {@class = "form-control", @placeholder = "Описание"})
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })                     
                    </div>
                    <br />
                    <div class="row col-md-7 text-right">
                        <button type="submit" class="btn btn-success">
                            <span class="glyphicon glyphicon-search">Търси</span>
                        </button>
                    </div>

                </div>
            </div>
        }
    </div>
</div>

